.lineNumbers {
    width: 45px;
    text-align: right;
    box-sizing: border-box;
}

.lineNumbers div {
    -webkit-text-size-adjust: 100%;
    font-variant-numeric: tabular-nums;
    font-family: "Roboto Mono", sans-serif;
    font-weight: normal;
    cursor: default;
    letter-spacing: 0px;
    font-size: 15px;
    display: inline;
    vertical-align: bottom;
    color: #858585;
}

.textEditor {
    font-family: "Roboto Slab", serif;
}
